table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border-bottom: 1px solid #F5F6FA;
  }

td {
    width: 730px;
    height: 50px;
    text-align: left;
    font: normal normal bold 13px/17px Source Sans Pro;
    letter-spacing: 0px;
    color: #4D4F5C;
    opacity: 1;
    padding-left: 16px;
}

th {
    padding-left: 15px;
    width: 730px;
    height: 50px;
    text-align: left;
    font: normal normal bold 13px/17px Source Sans Pro;
    letter-spacing: 0px;
    color: #A3A6B4;
    opacity: 1;
    background: #F5F6FA 0% 0% no-repeat padding-box;
}

.table-wrapper {
    margin-top: 30px;
    padding: 21px 20px;
    height: 368px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    opacity: 1;
}

.table-heading {
    width: 60px;
    height: 23px;
    text-align: left;
    font: normal normal normal 18px/13px Source Sans Pro;
    letter-spacing: 0px;
    color: #4D4F5C;
    opacity: 1;
    margin-bottom: 21px;
}

.show-more {
    height: 17px;
    text-align: left;
    font: normal normal normal 13px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #3B86FF;
    opacity: 1;
}


@media only screen and (max-width: 1024px) {

    .table-wrapper {
      overflow-x: auto;
    }
  }