.d-flex{
    display: flex;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-center{
    display: flex;
    align-items: center;
}

.h-center{
    display: flex;
    justify-content: center; 
}

.d-flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.d-wrap{
    display: flex;
    flex-wrap: wrap;
}